node_modules/
package-lock.json
pnpm-lock.yaml
*.tgz
test/fixture/src/**/*.vue.ts
test/fixture/.tsgoblin-generated.json
test/fixture/.tsgoblin-maps.json
test/fixture/.tsgoblin-cache.json
test/fixture/dist-tsgo/
test/fixture/dist/
test/fixture/.tsgo-tsbuildinfo
test/fixture/**/*.tsbuildinfo
test/fixture-multi/**/*.vue.ts
test/fixture-multi/**/.tsgoblin-generated.json
test/fixture-multi/**/.tsgoblin-maps.json
test/fixture-multi/**/.tsgoblin-cache.json
test/fixture-multi/**/.tsgoblin-build.tsconfig.json
test/fixture-multi/**/.tsgoblin-build/
test/fixture-multi/**/dist/
test/fixture-types/src/**/*.vue.ts
test/fixture-types/.tsgoblin-generated.json
test/fixture-types/.tsgoblin-maps.json
test/fixture-types/.tsgoblin-cache.json
test/fixture-types/**/*.tsbuildinfo
